#header-backg {
   
    display: block;

    padding-top: 20px;
    padding-bottom: 20px;

    top: 0px; height: 25px;
    position: fixed;

    background: white;
    box-shadow: 0px 0px 5px 5px white;
    
}

#header-box {

    padding: 0.25em;
    
    display: block;

    background-color: rgba(240, 240, 240, 0.90);
    
    border-radius: 0.75em;
    border: 2px solid rgba(230, 230, 230, 1.0);   
    
    text-align: center;
}

#header {

    background-color:rgba(230, 230, 230, 0.75);
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.77), rgba(230, 230, 230, 0.11));
    
    border-radius: 0.5em;

    padding: 0.2em;
}

#content {

    width: 724px;
    position: static;

    text-align: justify;
 
}

.two-columns {
    
    column-count: 2;
    /*
    column-gap: 20px;
    column-rule: 2px solid gainsboro; 
    */
}

.two-columns::first-letter { 
    font-size: 2em;
    color: grey;
}

.left {
    float: none;
    display: block;
    text-align: center;
    /*padding: 0 20px 20px 0;*/
}

.right {
    float: right;
    /*padding: 0 20px 20px 0;*/
}

.middle {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

body {

    font-size: 11pt;
    font-family: system-ui, -apple-system, 'Helvetica Neue', sans-serif;
    
    line-height: 1.25;
    
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 50%;
   
    border-right: #777;

    /* Number of heading */
    counter-reset: chapter 1 section 1 slide 1;
}

h1 {
    color: rgb(190, 190, 190);
 
    font-size: 2em;
}

/*
h1:before {
    content: counter(chapter) ". ";
}
*/

h2 {
    color: #777;
    
    font-size: 1.5em;

    counter-reset: slide 0;
    counter-increment: section;
}

/*
h2:before {
    content: counter(chapter) "." counter(section) " ";
    content: counter(section) " ";
}
*/

h3 {
    color: #777;
    /*counter-increment: slide;*/
}

/* All ulists */

ul {
    list-style-type: square;
}

/* All links */

a {
    color: rgb(56, 56, 136);
    text-decoration-style: wavy;
}

code {
    font-family:  Menlo, 'Courier New', Courier, monospace;
}

pre {
    background-color: rgba(230, 230, 230, 0.25);
    border-radius: 0.5em;
    border: 1px solid rgba(230, 230, 230, 0.75);
}

/* Navigation Menu */

nav img {
    width: 16px; height: 16px;
    vertical-align: -20%;
}

nav a {
    
    text-decoration: underline;
    text-decoration-color: rgba(56, 56, 136, 0.489);
    text-decoration-style: wavy;

}

nav a:not(:last-of-type) {
    margin-right: 0.4em;
}


/* Grid for Books */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > figure {
    background-color: #f1f1f1;
    width: 100px;
    margin: 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 0.77em;
    border-radius: 0.5em;
    padding: 0.5em;
}

/* Image Container for Texts */

.img-container {
    float: right;
    width: 25%; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */
}